<div
  *ngIf="data && categories > 1"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <ngx-charts-pie-chart
    [scheme]="colors"
    [results]="data"
    [view]="[200, 200]"
    [tooltipDisabled]="true"
    [animations]="true"
  >
  </ngx-charts-pie-chart>

  <div fxLayout="row wrap" class="legend-wrapper">
    <div *ngFor="let cat of categoryCounter | keyvalue: valueOrder; let last=last"
      fxLayout="row"
      fxLayoutAlign="start center"
      [ngClass]="{'push-right': !last}"
      class="legend-badge"
    >
      <div
        [ngClass]="cat.key | lowercase"
        class="legend-badge-color push-right-xxxs"
        [matTooltip]="'PROFILE.PLATFORM.BADGES.CATEGORY.' + cat.key  | translate"
        [ngStyle]="{'background-color': getCategoryColor(cat.key)}"
      >
      </div>
      <div class="caption foreground-secondary-text">
        {{'PROFILE.PLATFORM.BADGES.CATEGORY.' + cat.key | translate}} ({{cat.value}}x)
      </div>
    </div>
  </div>
</div>
