@import '~@openexo/design-system/variables';
@import '~@openexo/design-system/theming';

label {
  margin: 0;
}
.image {
  width: 180px;
}
.margin-btn {
  margin-bottom: 12px;
  margin-top: 12px;
}

.mat-card-actions {
  text-align: center;
}

