@import "~@openexo/design-system/variables";

:host {
  width: 100%;
  .advisory-call-detail-container {
    max-width: map-get($componentMeasure, '24x');
    margin: 0 auto;
  }
}

::ng-deep.opportunity-container, ::ng-deep.opportunity-loader {
  margin-top: 0px !important;
}

