<div id="not-found" class="exo-platform" >
  <div class="logo">
    <img class="pad-sm pad-bottom-none" src="/assets/public/openexo-logo-rgb.svg">
  </div>
  <div class="not-found-container primary-color pad-left-xs pad-right-xs" fxLayout="column" fxLayoutAlign="center start" >
    <p class="display-1 push-bottom-none">404</p>
    <p class="display-1">{{'CORE.NOT_FOUND' | translate }}</p>
    <h1 class="headline error-description">{{'CORE.PAGE_NOT_EXIST' | translate }}</h1>
    <h3 class="subheading-2 error-description">{{'CORE.PAGE_NOT_EXIST_HELP' | translate }}</h3>
    <button mat-flat-button type="button" color="primary" [routerLink]="'/'">{{'CORE.HOME' | translate }}</button>
  </div>
</div>
