@import "variables";
@import 'themes/exo-platform-light-theme';

h3 {
  margin-bottom: 0;
}

mat-card.mat-card .mat-divider {
  position: relative;
}
.feeling-rating {
  mat-button-toggle-group {
    height: 56px;
    line-height: 56px;
    box-shadow: none;

    .mat-button-toggle {
      border: 1px solid map-get($mat-light-theme-background, mat-button-hover);
    }

    mat-icon {
      color: map-get($mat-light-theme-background, feeling-buttons)
    }

  .mat-button-toggle-checked {
    background-color: map-get($mat-light-theme-background, feeling-buttons);

      mat-icon {
        color: white;
      }
    }
  }
}

.feedback-results {
  mat-card{
    height: 194px;
    mat-card-content {
      height: 100%;
    }
    .satisfaction-icon {
      font-size: 80px;
      color: map-get($mat-light-theme-background, resource-rating-done);
    }

    .sentiment_satisfied_alt, .sentiment_very_satisfied{
      color: map_get($mat-light-theme-foreground, icon-success);
    }
  }
}
.my-feedback-wrapper {
  max-width: $screen-sm-max;
  border-radius: 8px;
  min-height: 72px;
  background-color: mat-color($exo-blue, 50);
  color: mat-color($exo-blue, 700);
  font-size: $xs;
  mat-icon {
    color: mat-color($exo-blue, 700);
    margin: 0 $xxs;
  }
  .start-rating {
    app-material-icon-star-rating ::ng-deep {
      width: 100%;
      align-self: center;
      flex-direction: row;
      display: flex;
      margin-right: $xxs;
      height: $sm;
      mat-icon {
        color: mat-color($exo-blue, 700);
        font-size: 20px;
      }
    }
  }
  .right-divider {
    border-right: 1px solid mat-color($exo-blue, 700);
  }
  .left-divider {
    border-left: 1px solid mat-color($exo-blue, 700);
  }
}
