@import 'themes/exo-platform-light-theme';
@import '~@openexo/design-system/variables';

:host {
  width: 100%;
  max-width: map-get($componentMeasure, '20x');
  margin: 0 auto;
}

.task-label {
  color: map-get($mat-light-theme-background, service-header-assignments);
}

.information-block {
  display: block;
}
