@import "~@openexo/design-system/variables";

:host {
  width: 100%;
  box-sizing: border-box;
  max-width: 1280px;
}

.books-container {
  height: 100%;
  background-color: #f7f7f7;
  padding: 0 16px;
  @media only screen and (min-width: 1280px)  {
    padding: 0;
  }
  .mat-card {
    margin: map-get($spaceMeasures, 'lg') auto;
    max-width: map-get($componentMeasure, '20x');
    .mat-card-content{
      .book-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        @media #{map-get($mediaqueries, 'lt-md')} {
          min-height: 215px;
        }
      }
    }
  }
}
