@import "~@openexo/design-system/variables";

.canvas-bg {
  background: url($static-root + 'assets/landing/canvas2.png') no-repeat center;
  background-size: contain;
  min-height: 350px;
  width: 100%;
}
