@import '~@openexo/design-system/variables';

:host {
  flex: 0 1 map-get($breakpoints, 'xs');
  box-sizing: border-box;
  max-width: 100%;
  padding: map-get($componentMeasure, '1x');
  @media #{map-get($mediaqueries, 'gt-md')} {
    max-width: map-get($breakpoints, 'xs');
    padding: 0;
  }
}

.container {
  height: 100%;
}
