<div class="container" fxLayout="column" fxLayoutAlign="center start" >
  <p class="display-1 push-bottom-none primary-color">410</p>
  <p class="display-1 primary-color">{{'CORE.ERROR_410.TITLE' | translate : {entity: 'CORE.ERROR_410.ENTITIES.' + entity | uppercase | translate} }}</p>
  <h2>{{'CORE.ERROR_410.DESCRIPTION' | translate : {entity: 'CORE.ERROR_410.ENTITIES.' + entity | uppercase | translate} }}</h2>
  <button mat-flat-button type="button" color="primary" [routerLink]="goBackUrl">{{'CORE.ERROR_410.GO_BACK' | translate}}</button>
</div>