<app-overlay-template *ngIf="dialogData.showFullScreen; else containerDialog" [title]="dialogData.title" (close)="onClose()">
  <ng-container [ngTemplateOutlet]="content"></ng-container>
  <ng-container [ngTemplateOutlet]="actions"></ng-container>
</app-overlay-template>

<ng-template #containerDialog>
  <div mat-dialog-title class="text-transform-capitalize">{{ dialogData.title }}</div>
  <mat-dialog-content>
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  </mat-dialog-content>
  <ng-container [ngTemplateOutlet]="actions"></ng-container>
</ng-template>
  
<ng-template #content>
  <form [formGroup]="form" novalidate autocomplete="off" *ngIf="form">
    <mat-form-field appearance="fill" class="w-100 push-bottom-none">
      <mat-label>{{'ECOSYSTEM.WORKSPACE.PROJECTS.FORM.SETTINGS.ADVISORY_CALL_SETTINGS_DIALOG.NUMBER_LABEL' | translate}} </mat-label>
      <input matInput type="text" formControlName="total" />
      <mat-error>{{form.get('total').errors | humanizeFormErrors}}</mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start stretch" fxLayoutGap="24px">
      <div fxFlex="50%" fxLayout="column" class="w-100">
        <mat-form-field appearance="fill">
          <mat-label>{{'ECOSYSTEM.WORKSPACE.PROJECTS.FORM.SETTINGS.ADVISORY_CALL_SETTINGS_DIALOG.DURATION_LABEL' | translate}}</mat-label>
          <input matInput type="text" formControlName="durationValue"/>
          <mat-hint align="start">{{ 'ECOSYSTEM.OPPORTUNITIES.CREATE.POSITIONS_NUMBERS_HINT' | translate }}</mat-hint>
          <mat-error>{{form.get('durationValue').errors | humanizeFormErrors}}</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill" class="w-100" fxFlex="50%">
        <mat-label>{{'ECOSYSTEM.OPPORTUNITIES.CREATE.DURATION_UNIT_LABEL' | translate}}</mat-label>
        <mat-select formControlName="durationUnity">
          <mat-option *ngFor="let unit of durationUnits | keyvalue: durationUnitsOrder" [value]="unit.value">
            {{'ECOSYSTEM.OPPORTUNITIES.CREATE.DURATION_UNITS.' + unit.value | translate}}
          </mat-option>
        </mat-select>
        <mat-error>{{form.get('durationUnity').errors | humanizeFormErrors}}</mat-error>
      </mat-form-field>
    </div>
    <app-payment-management
      [isRequired]="true"
      [budgets]="budgets"
      [isSubmitted]="isSubmitted"
    ></app-payment-management>
  </form>
</ng-template>

<ng-template #actions>
  <mat-dialog-actions cdkFocusRegionstart>
    <button mat-flat-button color="accent" type="button" (click)="onClose()">{{'COMMON.ACTIONS.CANCEL' | translate}}</button>
    <button mat-flat-button color="primary" type="button" (click)="onSave()">{{'COMMON.ACTIONS.SAVE' | translate}}</button>
  </mat-dialog-actions>
</ng-template>
