@import "variables";
@import '~@openexo/design-system/variables';

:host {
  width: 100%;
  @media only screen and (min-width: $screen-xs)  {
    margin-right: $xs;
  }
}

mat-card {
  min-height: 357px;
  outline: none;
  &:hover {
    background-color: map_get($exo-grey, 50);
  }
  mat-card-content {
    min-height: 320px;
    height: 100%;
  }
}

.card-type {
  color: mat-color($exo-service-light-primary);
}

hr {
  border-top-color: rgba(70, 70, 75, 0.16);
}

mat-icon {
  &.red,&.orange {
    &::after{
      content: ' ';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      margin-left: -10px;
      border: 1px solid white;
    }
  }
  &.red::after {
    background-color: map_get($exo-red, 500);
  }
  &.orange::after {
    background-color: map_get($exo-amber, 800);
  }
  &.new-messages {
    position: relative;
    &:after {
      content: '';
      display: inline-block;
      width: map-get($spaceMeasures, 'xxs');
      height: map-get($spaceMeasures, 'xxs');
      border-radius: 50%;
      background-color: map-get($exo-blue, 500);
      position: absolute;
      right: -2px;
    }
  }
}

.opportunity-name {
  color: mat-color($exo-grey, 900, 0.64);
  &.unreaded {
    color: mat-color($exo-grey, 900);
    &:before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: map_get($exo-blue, A400);
      margin-right: $xxs;
    }
  }
}

.disabled {
  filter: grayscale(100%);
  opacity: 0.64;
}
