<mat-icon
  [matPopoverTriggerFor]="helpPopoverElement"
  class="pointer mat-20"
  [ngClass]="{ grey: positionInList === 0, blue: positionInList > 0 && positionInList < 6, red: positionInList >= 6 }"
>
  help
</mat-icon>
<mat-popover #helpPopoverElement="matPopover"
             [xPosition]="xPosition"
             [yPosition]="yPosition"
             matPopoverTrigger="click"
             matPopoverOverlapTrigger=false
             matPopoverPlacement="bottom"
             [ngSwitch]="getHelpPopoverType(label)"
>
  <mat-card *ngSwitchCase="helpPopoverEnum.MTP">
    <mat-card-title class="push-none">{{'PROFILE.MTP_TITLE' | translate}}</mat-card-title>
    <mat-card-content>
      <div>
        {{'PROFILE.MTP_DESCRIPTION' | translate}}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngSwitchCase="helpPopoverEnum.STAFF_ON_DEMAND">
    <mat-card-title class="push-none">{{'PROFILE.STAFF' | translate}}</mat-card-title>
    <mat-card-content>
      <div>
        {{'PROFILE.STAFF_DESCRIPTION' | translate}}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngSwitchCase="helpPopoverEnum.COMMUNITY_CROWD">
    <mat-card-title class="push-none">{{'PROFILE.COMMUNITY_CROWD' | translate}}</mat-card-title>
    <mat-card-content>
      <div [innerHTML]="'PROFILE.COMMUNITY_CROWD_DESCRIPTION' | translate">
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngSwitchCase="helpPopoverEnum.ALGORITHMS">
    <mat-card-title class="push-none">{{'PROFILE.ALGORITHMS' | translate}}</mat-card-title>
    <mat-card-content>
      <div>
        {{'PROFILE.ALGORITHMS_DESCRIPTION' | translate}}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngSwitchCase="helpPopoverEnum.LEVERAGED_ASSETS">
    <mat-card-title class="push-none">{{'PROFILE.LEVERAGED' | translate}}</mat-card-title>
    <mat-card-content>
      <div>
        {{'PROFILE.LEVERAGED_DESCRIPTION' | translate}}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngSwitchCase="helpPopoverEnum.ENGAGEMENT">
    <mat-card-title class="push-none">{{'PROFILE.ENGAGEMENT' | translate}}</mat-card-title>
    <mat-card-content>
      <div>
        {{'PROFILE.ENGAGEMENT_DESCRIPTION' | translate}}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngSwitchCase="helpPopoverEnum.INTERFACES">
    <mat-card-title class="push-none">{{'PROFILE.INTERFACES' | translate}}</mat-card-title>
    <mat-card-content>
      <div>
        {{'PROFILE.INTERFACES_DESCRIPTION' | translate}}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngSwitchCase="helpPopoverEnum.DASHBOARDS">
    <mat-card-title class="push-none">{{'PROFILE.DASHBOARDS' | translate}}</mat-card-title>
    <mat-card-content>
      <div>
        {{'PROFILE.DASHBOARDS_DESCRIPTION' | translate}}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngSwitchCase="helpPopoverEnum.EXPERIMENTS">
    <mat-card-title class="push-none">{{'PROFILE.EXPERIMENTS' | translate}}</mat-card-title>
    <mat-card-content>
      <div>
        {{'PROFILE.EXPERIMENTS_DESCRIPTION' | translate}}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngSwitchCase="helpPopoverEnum.AUTONOMY">
    <mat-card-title class="push-none">{{'PROFILE.AUTONOMY' | translate}}</mat-card-title>
    <mat-card-content>
      <div>
        {{'PROFILE.AUTONOMY_DESCRIPTION' | translate}}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngSwitchCase="helpPopoverEnum.SOCIAL_TECHNOLOGIES">
    <mat-card-title class="push-none">{{'PROFILE.SOCIAL' | translate}}</mat-card-title>
    <mat-card-content>
      <div>
        {{'PROFILE.SOCIAL_DESCRIPTION' | translate}}
      </div>
    </mat-card-content>
  </mat-card>
</mat-popover>
