@import "variables";

.certificate-image {
  height: 230px;
}

.certificate-hr-before {
  border: 1px solid rgba(70, 70, 75, 0.64);
  width: 90%;
  &:before {
    content: " ";
    height: 30px;
    margin-top: -32px;
    margin-left: -1px;
    position: absolute;
    border: 1px solid rgba(70, 70, 75, 0.64);
  }
}

.certificate-hr-after {
  border: 1px solid rgba(70, 70, 75, 0.64);
  width: 90%;
  &:after {
    content: " ";
    height: 30px;
    position: absolute;
    margin-left: -1px;
    border: 1px solid rgba(70, 70, 75, 0.64);
  }
}

.disabled-certification {
  filter: grayscale(100%);
  opacity: 0.64;
}
