@import '~@openexo/design-system/variables';
@import '~@openexo/design-system/theming';

:host {
  width: 100%;
  flex: 0 1 1280px;
  box-sizing: border-box;
  max-width: 1280px;
}

.margin-none {
  margin: 0 !important;
}

.ecosystem-events--container{
  padding-left: 16px;
  @media #{map-get($mediaqueries, 'lt-sm')} {
    padding-right: 16px;
  }
  @media #{map-get($mediaqueries, 'gt-lg')} {
    padding: 0;
  }
}

#floating-events {
  position: absolute;
  z-index: 33;
  top: 0;
  right: 0;
  background-color: mat-color($exo-blue, 500);
  @media #{map-get($mediaqueries, 'lt-sm')} {
    width: map-get($spaceMeasures, 'lg');
    min-width: map-get($spaceMeasures, 'lg');
    padding: 0;
  }
}


