@import '~@openexo/design-system/variables';
@import '~@openexo/design-system/mixins';

.people-paginator {
  ::ng-deep .mat-paginator-container {
    background-color: #f7f7f7;
    justify-content: center;
  }

  ::ng-deep .mat-paginator-page-size-select{
    width: 60px;
  }
}

::ng-deep.openexo-member {
  position: absolute;
  left: 24px;
  top: 24px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  @include retina-background-image($static-root + 'assets/directory/openExOMember', 'png', 30px, 30px)
}
