<ng-template>
  <div class="mat-popover-panel"
       [class.mat-popover-overlap]="overlapTrigger"
       [ngClass]="_classList"
       (click)="_emitCloseEvent()"
       [@transformPopover]="'showing'"
  >
    <!--<div class="direction-arrow" *ngIf="!overlapTrigger"></div>-->
    <div class="mat-popover-content"
         [@fadeInItems]="'showing'"
         (mouseover)="onMouseOver()"
         (mouseleave)="onMouseLeave()"
    >
      <ng-content></ng-content>
    </div>
  </div>
</ng-template>
