@import "variables";

:host{
  .drop-zone {
    -webkit-opacity: 0.30;
    -moz-opacity: 0.30;
    opacity: 0.30;
  }
  .drag-and-drop{
    cursor: pointer;
    height: 200px;
    background-color:  mat-color($mat-grey, 50);
    background-image: none;
    border: 1px solid;
    border-color: mat-color($mat-blue-grey, 100);
    border-radius: 4px;
    transition: border-color .30s linear;
    -webkit-transition: all .30s ease-out 0s;
    -moz-transition: all .30s ease-out 0s;
    -ms-transition: all .30s ease-out 0s;
    -o-transition: all .30s ease-out 0s;
    transition: all .30s ease-out 0s;
    input {
      display: none;
    }
    mat-icon{
      font-size: 58px;
      color: mat-color($mat-blue-grey, 100);
    }
    &:hover{
      background-color: mat-color($mat-blue-grey, 50);
    }
  }
}
