<div class="pad-bottom-lg" fxLayout="column">
  <div *ngIf="loading$ | async" class="w-100" fxLayout="row" fxLayoutAlign="center">
    <app-component-spinner-loader></app-component-spinner-loader>
  </div>
  <div *ngIf="!(loading$ | async) && !(events$ | async).length"
       fxLayout="column" fxLayoutAlign="center center"
       class="empty-moment"
  >
    <exo-empty-moment>
      <div class="empty-message text-align-center">
        <div class="subheading-2">
          {{'ECOSYSTEM.EVENTS.CARD.EMPTY' | translate}}
        </div>
      </div>
    </exo-empty-moment>


  </div>
  <section *ngIf="!(loading$ | async) && !(emptyMoment$ | async)">
    <section fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutAlign.lt-sm="center stretch">
      <app-events-card *ngFor="let event of events$ | async"
                       [event]="event"
                       class="push-bottom"
                       fxLayoutAlign="stretch"
                       fxFlex.lt-sm="0 1 calc(100%)"
                       fxFlex.sm="0 1 calc(50%)"
                       fxFlex.md="0 1 calc(33%)"
                       fxFlex.gt-md="0 1 calc(25%)">
      </app-events-card>
    </section>
  </section>
  <mat-paginator
    (page)="paginatorChange($event)"
    *ngIf="!(emptyMoment$ | async) && !(loading$ | async)"
    [length]="totalEvents$ | async"
    [pageIndex]="(pageIndex$ | async) -1"
    [pageSizeOptions]="[5, 15, 25]"
    [pageSize]="pageSize$ | async"
    class="paginator">
  </mat-paginator>
</div>
