@import "~@openexo/design-system/variables";

.mat-card {
  margin: map-get($spaceMeasures, 'lg') map-get($spaceMeasures, 'xs');
  .mat-card-content {
    max-width: map-get($componentMeasure, '20x');
    @media #{map-get($mediaqueries, 'xxs')} {
      padding-left: map-get($spaceMeasures, 'xs');
      padding-right: map-get($spaceMeasures, 'xs');
    }
  }
}

.video-container {
  @supports (-ms-ime-align:auto) {
    display: block !important;
  }

  .video-responsive {
    position: relative;
    padding-top: 56.25%;
    width: 100%;

    ::ng-deep iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
