@import "variables";

.star {
  color: mat-color($exo-amber, 500);
  font-size: $sm;
}

.grey {
  color: mat-color($exo-grey, 900, 0.64);
}

img {
  width: $sm;
  height: $sm;
  border-radius: 50%;
}

.item {
  border-radius: $xxs;
  background-color: mat-color($exo-grey, 900, 0.04);
}
.link {
  color: mat-color($exo-blue, 700)
}
