<mat-icon 
  [matPopoverTriggerFor]="helpPopoverElement" 
  class="push-left-xxs mat-24 pointer help-icon" 
  matTooltip="{{'TOOLTIP.MORE_INFO' | translate}}"
>help</mat-icon>
<mat-popover 
  #helpPopoverElement="matPopover" 
  overlapTrigger=false 
  matPopoverTrigger={{trigger}}
  matPopoverDelay={{delay}}
  xPosition={{xPosition}}
  yPosition={{yPosition}}
>
  <div class="pad body-popover">
    <h3 fxLayout="row" fxLayoutAlign="space-between center" class="foreground-secondary-text">
      {{title}}
      <mat-icon class="pointer">close</mat-icon>
    </h3>
    <div *ngIf="content" class="caption">{{content}}</div>
    <div *ngIf="htmlContent" class="caption" [innerHtml]="htmlContent"></div>
  </div>
</mat-popover>