@import 'variables';
@import '~@openexo/design-system/variables';

button.mat-icon-button{
  width: map-get($componentMeasure, '0.5x');
  height: map-get($componentMeasure, '0.5x');
  line-height: map-get($componentMeasure, '0.5x');
}
