$font-family: Roboto;
$font-size: 16px;
$field-background-color: #fbfbfb;
$stepper-icon: #9b9b9b;
$primary-color: #6128ff;
$accent-color: red;
$text-color: #45454a;
$link-color: #24a1e3;
$background-color: #f7f7f7;
$foreground-secondary-text: #686b6e;
$step-bk: #ebebeb;
$brand: #001e47;
$purple: #6f23ff;
