@import '~@angular/material/theming';
@import '_exo-colors.scss';

$exo-default-primary: mat-palette($exo-blue, 500, 100, 600);
$exo-default-accent:  mat-palette($mat-pink, A700, 100, 800);

// The warn palette is optional (defaults to red).
$exo-default-warn:    mat-palette($exo-red);

// Overwrite the light theme (colors for text and icons)
$mat-light-theme-foreground: (
  base:            rgba(38, 50, 56, 100),
  divider:         rgba(38, 50, 56, 0.12),
  dividers:        rgba(38, 50, 56, 0.12),
  disabled:        rgba(38, 50, 56, 0.38),
  disabled-button: rgba(38, 50, 56, 0.38),
  disabled-text:   rgba(38, 50, 56, 0.38),
  hint-text:       rgba(38, 50, 56, 0.38),
  secondary-text:  rgba(38, 50, 56, 0.64),
  icon:            rgba(38, 50, 56, 0.64),
  icons:           rgba(38, 50, 56, 0.64),
  text:            rgba(38, 50, 56, 100),
  slider-off:        rgba(black, 0.26),
  slider-min:        rgba(38, 50, 56, 100),
  slider-off-active: rgba(black, 0.38),

  // Custom vars
  exo-highlight-icon: map_get($exo-blue, 500),
  exo-a: map_get($exo-blue, 700),
  exo-toolbar-icons: white,

  // New themes
  // Icons
  icon-success: map_get($exo-teal, A400),

  // Buttons
  mat-raised-button: white,

  // Chips
  chip-remove-icon-hover: map-get($exo-red, 700),

);

// Background palette for light themes (colors used for element backgrounds)
$mat-light-theme-background: (
  raised-button: map_get($mat-blue-grey, 50),
  disabled-button: map_get($mat-blue-grey, 50),
  unselected-chip: map_get($mat-blue-grey, 50),
  dialog: white,
  card: white,
  background: map_get($exo-grey, 50), // Background for class mat-app-background
  app-bar: map_get($exo-grey, 100), // For toolbar
  status-bar: map_get($exo-indigo, 900),
  hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  focused-button: $black-6-opacity,
  selected-button: map_get($exo-grey, 300),
  selected-disabled-button: map_get($exo-grey, 400),
  disabled-button-toggle: map_get($exo-grey, 200),
  disabled-list-option: map_get($exo-grey, 200),

  // Custom vars
  exo-progress-bar-fill: map_get($mat-blue-grey, 300),
  exo-progress-bar-buffer: map_get($mat-blue-grey, 50),
  exo-chip-color: map_get($mat-blue-grey, 600),
  exo-chip-outlined-border-color: map_get($mat-blue-grey, 300),
  exo-chip-outlined-color: map_get($mat-blue-grey, 500),
  exo-dark-dialog-header: map_get($mat-blue-grey, 50),
  exo-dialog-actions: mat-color($exo-grey, 50),
  exo-highlight-hover-background-color: map_get($mat-light-blue, 50),
  exo-highlight-hover-color: map_get($exo-blue, 500),
  exo-loader-circle: white,
  exo-bullet: map_get($mat-blue-grey, 50),

  // New Themes
  service-header-assignments: map_get($exo-purple, 700),

  // Buttons
  mat-button-hover: mat-color($exo-grey, 900, 0.16),
  mat-button-disabled: mat-color($exo-grey, 900, 0.38),
  button-outlined-hover: mat-color($exo-red, 500, 0.24),
  mat-raised-button: white,
  mat-raised-button-hover: map_get($exo-red, 700),
  mat-raised-button-disabled: mat-color($exo-grey, 900, 0.38),

  // Cards
  card-shadow: rgba(70, 70, 75, 0.16),
  resource-color-pdf: map_get($resources-color, pdf),
  resource-color-spreadsheet: map_get($resources-color, spreadsheet),
  resource-color-document: map_get($resources-color, document),
  resource-color-slides: map_get($resources-color, slides),
  resource-color-form: map_get($resources-color, form),

  // Chips
  chip-background: rgba(255, 255, 255, 0.16),

);

// Create the theme object (a Sass map containing all of the palettes).
$exo-default-theme: mat-light-theme($exo-default-primary, $exo-default-accent, $exo-default-warn);

