@import "~@openexo/design-system/variables";

.book-bg {
  background: url($static-root + 'assets/books/exponential-book.png') no-repeat center;
  background-size: contain;
  min-height: 350px;
  width: 100%;
}
