<div fxLayout="column">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h1>{{'ECOSYSTEM.CIRCLES.DIALOG.BOOK.TITLE' | translate}}</h1>
    <div class="subheading-2 push-none">{{'ECOSYSTEM.CIRCLES.DIALOG.BOOK.SUBTITLE1' | translate}}</div>
    <div class="subheading-2 push-none">{{'ECOSYSTEM.CIRCLES.DIALOG.BOOK.SUBTITLE2' | translate}}</div>
    <div class="push-top-lg push-bottom-lg book-bg"></div>
    <button (click)="onDownloadSummary()" color="primary" mat-flat-button>
      {{'ECOSYSTEM.CIRCLES.DIALOG.BOOK.DOWNLOAD' | translate}}
    </button>
    <div fxLayout="row">
      <p class="mini-caption">{{'ECOSYSTEM.CIRCLES.DIALOG.BOOK.BUY' | translate}}</p>
      <a class="mini-caption push-left-xxxs" href="https://amzn.to/2Y3YnII" target="_blank">{{'ECOSYSTEM.CIRCLES.DIALOG.BOOK.BUY_LINK' | translate}}</a>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="end">
    <button (click)="dialogRef.close()" class="push-top-xxs" color="accent" mat-flat-button>
      {{'COMMON.CLOSE' | translate}}
    </button>
  </div>
</div>
