.video-container {
  @supports (-ms-ime-align:auto) {
    display: block !important;
  }

  .video-responsive {
    position: relative;
    padding-top: 56.25%;
    width: 100%;

    ::ng-deep iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
    }
  }
}

.video-thumbnail {
  max-width: 960px;
  max-height: 390px;
  cursor: pointer;

  img {
    max-width: 960px;
  }
}
